/*
.flex-container {
  display: inline-flex;
  background-color: white;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

}
  
.flex-container > div {
  background-color: green;
  width: 20%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
  color: white;
}
*/

  
.card{
  float: left;
  width: 23%;
  margin: 1%;
  height: 24vw;
  background-color:rgb(129, 41, 41);
}
.flipped{
  background-color:blue;
}

.found{
  background-color: red;
}

