
.body{
  background-color: #4FDEE8;
  -ms-user-select: None; 
  -moz-user-select: None; 
  -webkit-user-select: None; 
  user-select: None;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.deck{
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  display: flex;
}

.card{
  background-color: #3E686B;
  color: #3E686B;
  width: auto;
  height: auto;
  flex: auto;
  flex-basis: 20%;
  margin: 2%;
  text-align: center;
  line-height: 100px;

  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
}

.flipped{
  background-color: #464647;
}

.found {
  visibility: hidden;
}

.card:active {
  transform: scale(0.90);
  transition: 0.2s;
}